@import url("./style.css");

/* Form Section */
.form-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.card {
    background-color: var(--cor-3);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
    color: var(--cor-1);
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    color: var(--cor-2);
}

input, select {
    padding: 8px;
    border: 1px solid var(--nav-6);
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
}

button[type="submit"] {
    background-color: var(--cor-1);
    color: var(--cor-3);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    align-self: flex-start;
}

button[type="submit"]:hover {
    background-color: #013f61;
}

.tabs {
    margin-bottom: 15px;
}

.tab-btn {
    padding: 10px 20px;
    border: none;
    background-color: var(--nav-6);
    color: white;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px 5px 0 0;
}

.tab-btn.active {
    background-color: var(--cor-1);
}

.sessao {
    display: none;
}

.sessao.active {
    display: block;
}
